
*
{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

// Mixin ----------------------------------------------
@mixin flex ($just: center, $align: center, $dir:column) 
{
    display: flex;
    justify-content: $just;
    align-items: $align;
    flex-direction: $dir;    
}